@model Pagination<CCRestitution.Models.Victim>

@{
    ViewData["Title"] = "Manage Victims";
    Layout = "SubLayouts/_Index";
}
<form asp-action="Index" method="get">
    <div class="d-flex flex-row justify-content-between align-items-center">

        <div class="form-floating mb-3 me-1">
            <input type="text" class="form-control" id="lname" name="search" value="@ViewBag.Search" placeholder="Search">
            <label for="lname">Search</label>
        </div>
        <input type="submit" class="btn btn-primary" value="Search" />
    </div>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Case Number
            </th>
            <th>Name</th>
            <th>
                Address
            </th>
            <th>Associated Accounts</th>
            <th>
                Type
            </th>
            <th>
                Amount Due
            </th>
            <th>
                Amount Paid
            </th>
            <th>
                Notes
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Results) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CaseNumber)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @if (!String.IsNullOrEmpty(item.Address))
                    {
                        @item.Address

                        <br />
                    }
                    @if (!String.IsNullOrEmpty(item.Address2))
                    {
                        @item.Address2

                        <br />
                    }
                    @((item.City != null) ? $"{item.City}," : "") @item.State @item.ZipCode
                </td>
                <td>
                    @if (item.Accounts.Count > 0)
                    {
                        <ul class="list-unstyled d-inline">
                            @foreach (var account in item.Accounts)
                            {
                                <li><a asp-controller="Accounts" asp-action="Details" asp-route-id="@account.AccountId">@account.Docket</a></li>
                            }
                        </ul>
                    }
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.AmountDue)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.AmountPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
                <td class="text-end">
                    <a asp-action="Edit" asp-route-id="@item.VictimId" class="btn btn-sm btn-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.VictimId" class="btn btn-sm btn-secondary">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.VictimId" class="btn btn-sm btn-danger">Delete</a>
                </td>
        </tr>
}
    </tbody>
</table>
