@model Pagination<CCRestitution.Models.Defendant>

@{
    ViewData["Title"] = "Manage Defendants";
    Layout = "SubLayouts/_Index";
}
<form asp-action="Index" method="get">
    <div class="d-flex flex-row justify-content-between align-items-center">

        <div class="form-floating mb-3 me-1">
            <input type="text" class="form-control" id="lname" name="search" value="@ViewBag.Search" placeholder="Search">
            <label for="lname">Search</label>
        </div>
        <input type="submit" class="btn btn-primary" value="Search" />
    </div>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th>First name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Suffix</th>
            <th>Birthdate</th>
            <th>Sex</th>
            <th>Current Address</th>
            <th>Associated Accounts</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Results) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Suffix)
            </td>
            <td>
                @(item.DOB.HasValue ? item.DOB.Value.ToString("d") : "")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                    @if (item.Address1 != null)
                    {
                        @item.Address1<br />
                    }
                    @if (item.Address2 != null)
                    {
                        @item.Address2<br />
                    }
                    @((item.City != null) ? $"{item.City}," : "") @item.State @item.ZipCode
            </td>
            <td>
                @if(item.Accounts.Count > 0)
                {
                    <ul>
                    @foreach(var account in item.Accounts)
                    {
                         <li><a asp-controller="Accounts" asp-action="Details" asp-route-id="@account.AccountId">@account.Docket</a></li>       
                    }
                    </ul>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DefendantId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DefendantId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DefendantId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
