@model CCRestitution.Models.Account

@{
    ViewData["Title"] = "Details";
    Layout = "SubLayouts/_Viewer";
}

<h2>Case Information</h2>

<h3>Defendants</h3>
@if(Model.Defendants.Count > 0)
{
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone Numbers</th>
            <th></th>
        </tr>
    @foreach(var defendant in Model.Defendants)
    {
     <tr>
         <td>@defendant.FullName</td>
            <td>
                @if (!String.IsNullOrEmpty(defendant.Address1))
                {
                    @defendant.Address1

                    <br />
                }
                @if (!String.IsNullOrEmpty(defendant.Address2))
                {
                    @defendant.Address2

                    <br />
                }
                @((defendant.City != null) ? $"{defendant.City}," : "") @defendant.State @defendant.ZipCode
            </td>
            <td>
                    @if (!string.IsNullOrEmpty(defendant.Phone))
                    {
                        @defendant.Phone

                        <br />
                    }
                @if(!string.IsNullOrEmpty(defendant.CellPhone))
                {
                    @defendant.CellPhone<br />
                }

                @if (!String.IsNullOrEmpty(defendant.AltPhone))
                {
                    @defendant.AltPhone @($"({defendant.PhoneOtherName}")
                }
                </td>
                <td class="text-end">
                    <a asp-controller="Defendant" asp-action="Edit" asp-route-id="@defendant.DefendantId" class="btn btn-sm btn-primary">Edit</a>
                </td>
     </tr>   
    }
    </table>
}

<h3>Victims</h3>
@if (Model.Victims.Count > 0)
{
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone Numbers</th>
            <th></th>
        </tr>
        @foreach (var victim in Model.Victims)
        {
            <tr>
                <td>@victim.FullName</td>
                <td>
                    @if (!String.IsNullOrEmpty(victim.Address))
                    {
                        @victim.Address

                        <br />
                    }
                    @if (!String.IsNullOrEmpty(victim.Address2))
                    {
                        @victim.Address2

                        <br />
                    }
                    @((victim.City != null) ? $"{victim.City}," : "") @victim.State @victim.ZipCode
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(victim.Phone))
                    {
                        @victim.Phone

                        <br />
                    }
                    @if (!string.IsNullOrEmpty(victim.CellPhone))
                    {
                        @victim.CellPhone

                        <br />
                    }
                </td>
                <td class="text-end">
                    <a asp-controller="Victim" asp-action="Edit" asp-route-id="@victim.VictimId" class="btn btn-sm btn-primary">Edit</a>
                </td>
            </tr>
        }
    </table>
}

<h3>Payment History</h3>
@if (Model.Payments.Count > 0)
{
    <table class="table table-striped">
        <tr>
            <th>Paid By</th>
            <th>Date</th>
            <th>Fine</th>
            <th>Mandatory Surcharge</th>
            <th>EHM</th>
            <th>Restitution</th>
            <th>Surcharge</th>
            <th>Other/Misc</th>
            <th>Supv. Fee</th>
            <th></th>
        </tr>

        @foreach(var item in Model.Payments)
        {
            <tr>
                <td>@item.Defendant.FullName</td>
                <td>@(item.DatePaid.HasValue ? item.DatePaid.Value.ToString("d") : "")</td>
                <td>@($"{item.FineAmount:$#,##0.00}")</td>
                <td>@($"{item.MandatorySurchargeAmount:$#,##0.00}")</td>
                <td>@($"{item.EHMAmount:$#,##0.00}")</td>
                <td>@($"{item.RestitutionAmount:$#,##0.00}")</td>
                <td>@($"{item.SurchargeAmount:$#,##0.00}")</td>
                <td>@($"{item.OtherAmount:$#,##0.00}")</td>
                <td>@($"{item.SupervisionFee:$#,##0.00}")</td>
                <td class="text-end">
                    <a asp-controller="Payment" asp-action="Details" asp-route-id="@item.PaymentId" class="btn btn-primary btn-sm">Print Receipt</a>
                </td>
            </tr>
        }
    </table>
}


<div>
    <h4>Account</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Docket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Docket)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClosedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClosedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrestDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrestDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgencyCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgencyCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustodyStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustodyStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Court)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Court.CourtId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Judge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Judge.JudgeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Updated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Updated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AccountId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
