@model IEnumerable<CCRestitution.Models.Payment>

@{
    ViewData["Title"] = "Recent Payments";
    Layout = "SubLayouts/_Index";
}
<table class="table">
    <thead>
        <tr>
            <th>Payment ID</th>
            <th>Account ID</th>
            <th>Docket #</th>
            <th>Amount Paid</th>
            <th>Date Paid</th>
            <th>Submitted By</th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.Docket)
            </td>
            <td></td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName);
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PaymentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PaymentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PaymentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
