@using CCRestitution.Helpers
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#00072d">
    <title>@ViewData["Title"] - Chemung County Restitution System</title>
    <link rel="icon" href="~/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="~/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap-icons.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/select2/dist/css/select2-bootstrap-5-theme.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/vue.css" asp-append-version="true" />
    <script src="//unpkg.com/alpinejs" defer></script>



</head>
<body>
    <div class="d-flex flex-no-wrap" id="wrapper" style="overflow-x: hidden;">
        <div class="d-flex flex-column flex-shrink-0 p-2 text-bg-dark col-2" style="z-index: 10;" id="sidebar">
            <a asp-controller="" asp-action="Index" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                  <img src="~/img/cclogo.png" alt="Chemung County Restitution System" class="img-fluid logo"/></a>
                  <h1 class="h3 text-center">Restitution System</h1>
            <hr>
            @if ((await AuthorizationService.AuthorizeAsync(User, "AllUsers")).Succeeded)
            {
                    <div class="welcome">
                        Current User: <strong>@User.FindFirst("FirstName").Value @User.FindFirst("LastName").Value</strong>

                    @if ((await AuthorizationService.AuthorizeAsync(User, "Supervisor")).Succeeded)
                    {

                                <p class="mb-0">Role: <strong>@User.FindFirst("UserRole").Value</strong></p>
                    }
                    </div>
                    <hr />
                    <ul class="nav nav-pills flex-column mb-auto">
                    <li>
                        <a class="nav-link text-white @Html.ActiveClass("Payments")" asp-area="" asp-controller="Payments" asp-action="Index">

                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="24" viewBox="0 -960 960 960" width="24"><path d="M560-440q-50 0-85-35t-35-85q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35ZM280-320q-33 0-56.5-23.5T200-400v-320q0-33 23.5-56.5T280-800h560q33 0 56.5 23.5T920-720v320q0 33-23.5 56.5T840-320H280Zm80-80h400q0-33 23.5-56.5T840-480v-160q-33 0-56.5-23.5T760-720H360q0 33-23.5 56.5T280-640v160q33 0 56.5 23.5T360-400Zm440 240H120q-33 0-56.5-23.5T40-240v-440h80v440h680v80ZM280-400v-320 320Z" /></svg>
                            Take Payment
                        </a>
                    </li>


                        <li class="nav-item">
                            <a class="nav-link text-white @Html.ActiveClass("Reports")" aria-current="page" asp-area="" asp-controller="Reports" asp-action="Index">

                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="24" viewBox="0 -960 960 960" width="24"><path d="M640-640v-120H320v120h-80v-200h480v200h-80Zm-480 80h640-640Zm560 100q17 0 28.5-11.5T760-500q0-17-11.5-28.5T720-540q-17 0-28.5 11.5T680-500q0 17 11.5 28.5T720-460Zm-80 260v-160H320v160h320Zm80 80H240v-160H80v-240q0-51 35-85.5t85-34.5h560q51 0 85.5 34.5T880-520v240H720v160Zm80-240v-160q0-17-11.5-28.5T760-560H200q-17 0-28.5 11.5T160-520v160h80v-80h480v80h80Z" /></svg>
                                 Run Reports
                            </a>
                        </li>
                        <li class="nav-item"><hr /></li>

                    <li>
                        <a class="nav-link text-white @Html.ActiveClass("Courts")" asp-area="" asp-controller="Courts" asp-action="Index">

                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="24" viewBox="0 -960 960 960" width="24"><path d="M200-280v-280h80v280h-80Zm240 0v-280h80v280h-80ZM80-120v-80h800v80H80Zm600-160v-280h80v280h-80ZM80-640v-80l400-200 400 200v80H80Zm178-80h444-444Zm0 0h444L480-830 258-720Z" /></svg>
                            Manage Courts
                        </a>
                    </li>

                    <li>
                        <a class="nav-link text-white @Html.ActiveClass("Judges")" asp-area="" asp-controller="Judges" asp-action="Index">

                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="24" viewBox="0 -960 960 960" width="24"><path d="M160-120v-80h480v80H160Zm226-194L160-540l84-86 228 226-86 86Zm254-254L414-796l86-84 226 226-86 86Zm184 408L302-682l56-56 522 522-56 56Z" /></svg>
                            Manage Judges
                        </a>
                    </li>

                    <li>
                        <a class="nav-link text-white @Html.ActiveClass("Crimes")" asp-area="" asp-controller="Crimes" asp-action="Index">

                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="24" fill="currentColor" viewBox="0 -960 960 960" width="24"><path d="m368-336 112-84 110 84-42-136 112-88H524l-44-136-44 136H300l110 88-42 136ZM480-80q-139-35-229.5-159.5T160-516v-244l320-120 320 120v244q0 152-90.5 276.5T480-80Zm0-84q104-33 172-132t68-220v-189l-240-90-240 90v189q0 121 68 220t172 132Zm0-316Z" /></svg>
                            Manage Laws/Crimes
                        </a>
                    </li>
                    <li>
                        <a class="nav-link text-white @Html.ActiveClass("Accounts")" asp-area="" asp-controller="Accounts" asp-action="Index">

                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="24" viewBox="0 -960 960 960" width="24"><path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h240l80 80h320q33 0 56.5 23.5T880-640H447l-80-80H160v480l96-320h684L837-217q-8 26-29.5 41.5T760-160H160Zm84-80h516l72-240H316l-72 240Zm0 0 72-240-72 240Zm-84-400v-80 80Z" /></svg>
                            Manage Cases/Accounts
                        </a>
                    </li>
                    <li>
                        <a class="nav-link text-white @Html.ActiveClass("Defendants")" asp-area="" asp-controller="Defendants" asp-action="Index">

                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="24" viewBox="0 -960 960 960" width="24"><path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z" /></svg>
                            Manage Defendants
                        </a>
                    </li>

                    <li>
                        <a class="nav-link text-white @Html.ActiveClass("Victims")" asp-area="" asp-controller="Victims" asp-action="Index">

                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="24" viewBox="0 -960 960 960" width="24"><path d="M343-470ZM80-120v-480l320-240 215 162q-25 3-47 11.5T526-644l-126-96-240 180v360h160v80H80Zm320 0v-76q0-21 10.5-39.5T439-265q46-27 96.5-41T640-320q54 0 104.5 14t96.5 41q18 11 28.5 29.5T880-196v76H400Zm86-80h308q-35-20-74-30t-80-10q-41 0-80 10t-74 30Zm154-160q-50 0-85-35t-35-85q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35Zm0-80q17 0 28.5-11.5T680-480q0-17-11.5-28.5T640-520q-17 0-28.5 11.5T600-480q0 17 11.5 28.5T640-440Zm0 240Z" /></svg>
                            Manage Victims
                        </a>
                    </li>

                    <li>
                        <a class="nav-link text-white @Html.ActiveClass("Users")" asp-area="" asp-controller="Users" asp-action="Index">

                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="24" viewBox="0 -960 960 960" width="24"><path d="M400-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM80-160v-112q0-33 17-62t47-44q51-26 115-44t141-18h14q6 0 12 2-8 18-13.5 37.5T404-360h-4q-71 0-127.5 18T180-306q-9 5-14.5 14t-5.5 20v32h252q6 21 16 41.5t22 38.5H80Zm560 40-12-60q-12-5-22.5-10.5T584-204l-58 18-40-68 46-40q-2-14-2-26t2-26l-46-40 40-68 58 18q11-8 21.5-13.5T628-460l12-60h80l12 60q12 5 22.5 11t21.5 15l58-20 40 70-46 40q2 12 2 25t-2 25l46 40-40 68-58-18q-11 8-21.5 13.5T732-180l-12 60h-80Zm40-120q33 0 56.5-23.5T760-320q0-33-23.5-56.5T680-400q-33 0-56.5 23.5T600-320q0 33 23.5 56.5T680-240ZM400-560q33 0 56.5-23.5T480-640q0-33-23.5-56.5T400-720q-33 0-56.5 23.5T320-640q0 33 23.5 56.5T400-560Zm0-80Zm12 400Z" /></svg>
                            Manage Users
                        </a>
                    </li>
                    <li>
                        <a class="nav-link text-white @Html.ActiveClass("ArrestingAgencies")" asp-area="" asp-controller="ArrestingAgencies" asp-action="Index">Manage Arresting Agencies</a>
                    </li>
                    <li>
                        <a class="nav-link text-white @Html.ActiveClass("Attorneys")" asp-area="" asp-controller="Attorneys" asp-action="Index">Manage Attorneys</a>
                    </li>
                    <li>
                        <a class="nav-link text-white @Html.ActiveClass("DetentionFacilities")" asp-area="" asp-controller="DetentionFacilities" asp-action="Index">Manage Detention Facilities</a>
                    </li>
                    <li>
                        <a class="nav-link text-white @Html.ActiveClass("ProbationDepartments")" asp-area="" asp-controller="ProbationDepartments" asp-action="Index">Manage Probation Departments</a>
                    </li>
                    <li>
                        <a class="nav-link text-white @Html.ActiveClass("ProbationOfficers")" asp-area="" asp-controller="ProbationOfficers" asp-action="Index">Manage Probation Officers</a>
                    </li>
                    <li>
                        <a class="nav-link text-white @Html.ActiveClass("TreatmentAgencies")" asp-area="" asp-controller="TreatmentAgencies" asp-action="Index">Manage Treatment Agencies</a>
                    </li>
                    </ul>


            }
            else
            {
                    <div class="welcome">
                        <strong>Access Denied</strong>


                    </div>
                    <hr />
            }
        </div>
        <div class="container">
            <main role="main" class="pb-3 pt-3">

                @RenderBody()
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>