@using CCRestitution.Helpers
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#00072d">
    <title>@ViewData["Title"] - Chemung County Restitution System</title>
    <link rel="icon" href="~/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="~/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap-icons.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/select2/dist/css/select2-bootstrap-5-theme.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/vue.css" asp-append-version="true" />
    <script src="//unpkg.com/alpinejs" defer></script>



</head>
<body>
    <div class="d-flex flex-no-wrap" id="wrapper" style="overflow-x: hidden;">
        <div class="d-flex flex-column flex-shrink-0 p-2 text-bg-dark col-2" style="z-index: 10;" id="sidebar">
            <a asp-controller="Tickets" asp-action="Index" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                  <img src="~/img/cclogo.png" alt="Chemung County Restitution System" class="img-fluid logo"/></a>
                  <h1 class="h3 text-center">Restitution System</h1>
            <hr>
            @if ((await AuthorizationService.AuthorizeAsync(User, "AllUsers")).Succeeded)
            {
                    <div class="welcome">
                        Current User: <strong>@User.FindFirst("FirstName").Value @User.FindFirst("LastName").Value</strong>

                    @if ((await AuthorizationService.AuthorizeAsync(User, "Supervisor")).Succeeded)
                    {

                                <p class="mb-0">Role: <strong>@User.FindFirst("UserRole").Value</strong></p>
                    }
                    </div>
                    <hr />
                    <ul class="nav nav-pills flex-column mb-auto">
                    <li>
                        <a class="nav-link text-white @Html.ActiveClass("Payments")" asp-area="" asp-controller="Payments" asp-action="Index">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-ruled-fill" viewBox="0 0 16 16">
                                <path d="M12 0H4a2 2 0 0 0-2 2v4h12V                          2a2 2 0 0 0-2-2zm2 7H6v2h8V7zm0 3H6v2h8v-2zm0 3H6v3h6a2 2 0 0 0 2-2v-1zm-9 3v-3H2v1a2 2 0 0 0 2 2h1zm-3-4h3v-2H2v2zm0-3h3V7H2v2z" />
                            </svg>
                            Take Payment
                        </a>
                    </li>


                        <li class="nav-item">
                            <a class="nav-link text-white @Html.ActiveClass("Reports")" aria-current="page" asp-area="" asp-controller="Reports" asp-action="Index">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-paper-fill" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M6.5 9.5 3 7.5v-6A1.5 1.5 0 0 1 4.5 0h7A1.5 1.5 0 0 1 13 1.5v6l-3.5 2L8 8.75l-1.5.75ZM1.059 3.635 2 3.133v3.753L0 5.713V5.4a2 2 0 0 1 1.059-1.765ZM16 5.713l-2 1.173V3.133l.941.502A2 2 0 0 1 16 5.4v.313Zm0 1.16-5.693 3.337L16 13.372v-6.5Zm-8 3.199 7.941 4.412A2 2 0 0 1 14 16H2a2 2 0 0 1-1.941-1.516L8 10.072Zm-8 3.3 5.693-3.162L0 6.873v6.5Z"/>
    </svg>
                                 Run Reports
                            </a>
                        </li>
                        <li class="nav-item"><hr /></li>

                    <li>
                        <a class="nav-link text-white @Html.ActiveClass("Courts")" asp-area="" asp-controller="Courts" asp-action="Index">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                            </svg>
                            Manage Courts
                        </a>
                    </li>

                    <li>
                        <a class="nav-link text-white @Html.ActiveClass("Judges")" asp-area="" asp-controller="Judges" asp-action="Index">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                            </svg>
                            Manage Judges
                        </a>
                    </li>

                    <li>
                        <a class="nav-link text-white @Html.ActiveClass("Crimes")" asp-area="" asp-controller="Crimes" asp-action="Index">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                            </svg>
                            Manage Laws/Crimes
                        </a>
                    </li>
                    <li>
                        <a class="nav-link text-white @Html.ActiveClass("Accounts")" asp-area="" asp-controller="Accounts" asp-action="Index">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-ruled-fill" viewBox="0 0 16 16">
                                <path d="M12 0H4a2 2 0 0 0-2 2v4h12V                          2a2 2 0 0 0-2-2zm2 7H6v2h8V7zm0 3H6v2h8v-2zm0 3H6v3h6a2 2 0 0 0 2-2v-1zm-9 3v-3H2v1a2 2 0 0 0 2 2h1zm-3-4h3v-2H2v2zm0-3h3V7H2v2z" />
                            </svg>
                            Manage Cases/Accounts
                        </a>
                    </li>
                    <li>
                        <a class="nav-link text-white @Html.ActiveClass("Defendants")" asp-area="" asp-controller="Defendants" asp-action="Index">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-ruled-fill" viewBox="0 0 16 16">
                                <path d="M12 0H4a2 2 0 0 0-2 2v4h12V                          2a2 2 0 0 0-2-2zm2 7H6v2h8V7zm0 3H6v2h8v-2zm0 3H6v3h6a2 2 0 0 0 2-2v-1zm-9 3v-3H2v1a2 2 0 0 0 2 2h1zm-3-4h3v-2H2v2zm0-3h3V7H2v2z" />
                            </svg>
                            Manage Defendants
                        </a>
                    </li>

                    <li>
                        <a class="nav-link text-white @Html.ActiveClass("Victims")" asp-area="" asp-controller="Victims" asp-action="Index">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-ruled-fill" viewBox="0 0 16 16">
                                <path d="M12 0H4a2 2 0 0 0-2 2v4h12V                          2a2 2 0 0 0-2-2zm2 7H6v2h8V7zm0 3H6v2h8v-2zm0 3H6v3h6a2 2 0 0 0 2-2v-1zm-9 3v-3H2v1a2 2 0 0 0 2 2h1zm-3-4h3v-2H2v2zm0-3h3V7H2v2z" />
                            </svg>
                            Manage Victims
                        </a>
                    </li>

                    <li>
                        <a class="nav-link text-white @Html.ActiveClass("Users")" asp-area="" asp-controller="Users" asp-action="Index">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                                <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
                            </svg>
                            Manage Users
                        </a>
                    </li>
                    </ul>


            }
            else
            {
                    <div class="welcome">
                        <strong>Access Denied</strong>


                    </div>
                    <hr />
            }
        </div>
        <div class="container">
            <main role="main" class="pb-3 pt-3">

                @RenderBody()
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>