@model Pagination<CCRestitution.Models.Account>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Case Number</th>
            <th>Docket Number</th>
            <th>Type</th>
            <th>Assigned Date</th>
            <th>Closed Date</th>
            <th>Arrest Date</th>
            <th>Agency Code</th>
            <th>Custody Status</th>
            <th>Court</th>
            <th>Judge</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Results) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CaseNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Docket)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @(item.AssignedDate.HasValue ? item.AssignedDate.Value.ToString("d") : "")
            </td>
            <td>
                @(item.ClosedDate.HasValue ? item.ClosedDate.Value.ToString("d") : "")
            </td>
            <td>
                @(item.ArrestDate.HasValue ? item.ArrestDate.Value.ToString("d") : "")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgencyCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustodyStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Court.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Judge.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AccountId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AccountId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AccountId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
