@model IEnumerable<CCRestitution.Models.Account>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CaseNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Docket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrestDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgencyCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustodyStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Court)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Judge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CaseNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Docket)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrestDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgencyCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustodyStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Court.CourtId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Judge.JudgeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AccountId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AccountId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AccountId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
