@model Pagination<CCRestitution.Models.Court>

@{
    ViewData["Title"] = "Manage Courts";
    Layout = "SubLayouts/_Index";
}


<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Title
            </th>
<th>Address</th>
            <th>
                Phone
            </th>
            <th>
                Fax
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Results) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
                <td>
                    @if (item.Address != null)
                    {
                        @item.Address

                        <br />
                    }
                    @if (item.Address2 != null)
                    {
                        @item.Address2

                        <br />
                    }
                    @((item.City != null) ? $"{item.City}," : "") @item.State @item.ZipCode
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fax)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CourtId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CourtId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CourtId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
