@model CCRestitution.Models.Crime

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Crime</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Law_Ordinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Law_Ordinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Attempted_Class)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Attempted_Class)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Attempted_VF_Indicator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Attempted_VF_Indicator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Attempted_NYS_Law_Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Attempted_NYS_Law_Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bus_Driver_Charge_Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bus_Driver_Charge_Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sex_Offender_Registry_Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sex_Offender_Registry_Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NCIC_Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NCIC_Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UCR_Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UCR_Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SAFIS_Crime_Cateory_Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SAFIS_Crime_Cateory_Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Offense_Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Offense_Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JO_Indicator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JO_Indicator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JD_Indicator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JD_Indicator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IBR_Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IBR_Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Maxi_Law_Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Maxi_Law_Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Law_Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Law_Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mini_Law_Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mini_Law_Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Section)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Section)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Section13)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Section13)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sub_Section)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sub_Section)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sub_Section13)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sub_Section13)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Degree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Degree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EFFECTIVE_DATE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EFFECTIVE_DATE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.REPEAL_DATE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.REPEAL_DATE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FP_Offense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FP_Offense)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unconst_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unconst_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weapon_Charge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weapon_Charge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Armed_VFO_Charge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Armed_VFO_Charge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Minors_Charge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Minors_Charge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Career_Criminal_Charge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Career_Criminal_Charge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.INS_Charge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.INS_Charge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Non_Seal_Charge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Non_Seal_Charge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sub_Convict_Charge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sub_Convict_Charge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jail_Charge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jail_Charge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Post_Convict_Charge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Post_Convict_Charge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Auto_Strip_Charge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Auto_Strip_Charge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Full_Law_Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Full_Law_Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NYS_Law_Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NYS_Law_Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VF_Indicator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VF_Indicator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Class)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DNA_Indicator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DNA_Indicator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Attempted_DNA_Indicator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Attempted_DNA_Indicator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Escape_Charge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Escape_Charge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hate_Crime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hate_Crime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_Invalidated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_Invalidated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Terrorism_Indicator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Terrorism_Indicator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DMV_VTCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DMV_VTCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AO_Indicator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AO_Indicator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RTA_FP_Offense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RTA_FP_Offense)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MODIFIED_DATE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MODIFIED_DATE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Civil_Confinement_Indicator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Civil_Confinement_Indicator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Attempted_CCI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Attempted_CCI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Expanded_Law_Literal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Expanded_Law_Literal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sexually_Motivated_Ind)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sexually_Motivated_Ind)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MCDV_Charge_Indicator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MCDV_Charge_Indicator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RDLR_Indicator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RDLR_Indicator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Updated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Updated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
