@model Pagination<CCRestitution.Models.Crime>

@{
    ViewData["Title"] = "Manage Crimes";
    Layout = "SubLayouts/_Index";
}


<form asp-action="Index" method="get">
    <input type="text" name="search" value="@ViewBag.Search" />
    <input type="submit" value="Search" />
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>
                Section
            </th>
            <th>
                Subsection
            </th>
            <th>Law Description</th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Results) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Section)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sub_Section)
            </td>
            <td>@Html.DisplayFor(modelItem => item.Full_Law_Description)</td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
